.catalog-container {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #F7F7F8;
}

.filters-panel {
  padding: 1.5rem;
  color: #404040;
  position: sticky;
  top: 0;
  height: 100%;
  transition: all 0.2s ease;
}

.filters-panel h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.filter-group {
  margin-bottom: 1.5rem;
}

.filter-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.filter-group select,
.filter-group input[type="range"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.filter-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.price-range {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.price-range input[type="number"] {
  width: 70px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #333;
  text-align: center;
}

.price-range input[type="number"]:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.8);
  outline: none;
}

.price-range span {
  font-size: 1rem;
  user-select: none;
}

.products-grid-container {
  flex: 1;
  padding: 2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.product-card {
  cursor: pointer;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.product-card.not-available {
  opacity: 0.6;
  pointer-events: none;
}

.product-card.not-available .product-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.product-image {
  width: 100%;
  max-height: 200px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  object-fit: contain;
  background-color: rgb(233, 233, 233);
}

.product-card h4 {
  font-size: 1.25rem;
  font-style: bold;
  color: #404040;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 1rem;
  color: #404040;
  margin: 0.5rem 0;
}

.product-card p.price {
  font-weight: bold;
  color: #404040;
}

.add-btn {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.add-btn:hover {
  background-color: #27ae60;
}

.add-btn:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.no-products {
  font-size: 1.25rem;
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
  margin: 2rem 0;
}

.loading {
  justify-content: center;
  width: 150px;
  height: 150px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  max-height: 99%;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content img {
  width: 100%;
  max-height: 260px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  object-fit: contain;
  background-color: rgb(233, 233, 233);
}

.modal-content h1 {
  font-size: 28px;
  color: #404040;
}

.modal-content h3 {
  font-size: 20px;
  color: #404040;
  text-align: end;
}

.modal-content p {
  font-size: 10px;
  color: #404040;
  margin-bottom: 1rem;
}

.modal-close {
  color: #000000;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.modal-close:hover {
  color: #ff0000;
  transform: scale(1);
  transition: color 0.2s ease, transform 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .catalog-container {
    display: block;
  }

  .filters-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: static;
    height: auto;
    padding: 1rem;
    gap: 5%;
  }

  .filters-panel h3 {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .filter-group {
    margin-top: 1.5rem;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    gap: 1rem;
    margin-top: -30px;
    width: 100%;
  }
  
  .modal-content h1 {
    font-size: 25px;
  }

  .modal-content p {
    font-size: 15px;
  }

  .modal-content h3 {
    font-size: 20px;
  }
}