.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F7F7F8;
}

.layout-main {
  flex: 1;
  align-items: center;
  align-content: center;
}

footer {
  margin-top: auto;
}